extends layout

block content
	.search
		form(action="/search", method="get")
			input(type="text" name="search" placeholder="Search")#searchbox
			input(type="submit")#search
	.countries
		button#my-button Load Countries
	.country-display